@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$primary-green: rgb(73, 197, 42);

.c > div > input {
  height: 1rem !important;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", cursive;
}

body,
html {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  width: 100vw;
}

.loader {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  background-color: black;
  .load-percent {
    color: $primary-green;
    font-family: "Roboto", sans-serif;
    font-family: "Roboto Slab", serif;
    width: 30%;
    font-weight: 100;
    font-size: 160%;
  }
  svg {
    width: 30%;
  }
}

.scroll-up {
  opacity: 0;
  height: 40px;
  width: 40px;
  display: block;
  outline: 1px solid rgba(666, 666, 666, 0.08);
  position: relative;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  svg line {
    stroke-width: 1;
    stroke: #aaa;
    fill: none;
    stroke-dasharray: 20;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  &:hover svg line {
    &.top {
      -webkit-transform: translateX(-40px);
      transform: translateX(-40px);
    }
    &.bottom {
      -webkit-transform: translateX(40px);
      transform: translateX(40px);
    }
    &.left {
      -webkit-transform: translateY(40px);
      transform: translateY(40px);
    }
    &.right {
      -webkit-transform: translateY(-40px);
      transform: translateY(-40px);
    }
  }
}

.scroll-up {
  opacity: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  .left-bar {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    top: 19px;
    left: 5px;
    width: 18px;
    display: block;
    transform: rotate(-45deg);
    &:after {
      content: "";
      background-color: #666;
      width: 18px;
      height: 1px;
      display: block;
      border-radius: 1px;
      transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
      transform-origin: right center;
      z-index: -1;
    }
  }
  .right-bar {
    position: absolute;
    background-color: transparent;
    top: 19px;
    left: 17px;
    width: 18px;
    display: block;
    transform: rotate(45deg);
    border-radius: 2px;
    &:after {
      content: "";
      background-color: #666;
      width: 18px;
      height: 1px;
      display: block;
      border-radius: 1px;
      transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
      transform-origin: left center;
      z-index: -1;
    }
  }
  &:hover,
  &:active,
  &:focus {
    transition: all 0.1s;
    .left-bar:after {
      transform: rotate(-10deg);
    }
    .right-bar:after {
      transform: rotate(10deg);
    }
  }
}

.path1 {
  stroke: $primary-green;
  stroke-dasharray: 402;
  stroke-dashoffset: 402;
  fill: rgba(0, 0, 0, 0);
}
.path2 {
  stroke: $primary-green;
  stroke-dasharray: 1015;
  stroke-dashoffset: 1015;
  fill: rgba(0, 0, 0, 0);
}

#mobile {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  h1 {
    color: white;
    text-align: center;
    font-style: italic;
    text-decoration: underline dashed;
  }
  li > a {
    color: white;
    font-size: 150%;
    transition: all 0.5s ease;
    &:hover,
    &:active {
      text-shadow: 0 0 0.05em #fff, 0 0 0.2em $primary-green, 0 0 0.3em $primary-green;
    }
  }
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  position: relative;
  height: 100vh;
  scroll-snap-type: y proximity;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(73, 197, 42, 0.3);
    border-radius: 15px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: rgba(73, 197, 42, 0.178);
    -webkit-box-shadow: inset 0 0 6px rgba(73, 73, 73, 0.836);

    &:hover {
      background-color: rgba(73, 197, 42, 0.507);
    }
  }

  .panel {
    height: 100vh;
    position: relative;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    background-color: transparent;
    box-shadow: none;
    display: flex;
    justify-content: space-evenly;
    #nav-mobile {
      display: flex;
      justify-content: space-between;
      width: 20%;
    }
    .sidenav-trigger {
      position: fixed;
      top: 10px;
      right: 20px;
    }
    a {
      text-decoration: none;
      color: white;
      font-size: 120%;
      transition: all 0.5s ease-in-out;
      &:hover {
        text-shadow: 0 0 0.05em #fff, 0 0 0.2em $primary-green, 0 0 0.3em $primary-green;
      }

      .logo {
        min-width: 100px;
      }
    }
  }
}

.about,
.projects,
.contact {
  text-align: center;
  h1 {
    font-size: 250%;
    color: white;
  }
  .about-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 90%;
    height: 80%;
    color: white;
    background-color: rgba(0, 0, 0, 0.301);
    backdrop-filter: blur(10px);
    text-align: left;
    border-radius: 15px;

    .p-about {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 40%;
      width: 90%;

      p {
        font-family: "Roboto", sans-serif;
        font-size: 110%;
        line-height: 15px;
        margin-top: 10px;
      }
    }
    .skills {
      display: flex;
      justify-content: space-between;
      width: 90%;
      height: 50%;
      line-height: 15px;
      div {
        width: 50%;
        h3 {
          font-size: 120%;
        }
      }
      ul li {
        font-family: "Roboto", sans-serif;
        font-size: 100%;
        padding-bottom: 5px;
      }
      a {
        color: $primary-green;
        font-family: "Roboto", sans-serif;
        font-size: 80%;
        transition: all 0.3s ease;
        &:hover,
        &:active {
          color: rgb(207, 207, 207);
        }
      }
    }
  }
}
.about {
  width: 100%;
}
.nav {
  display: flex;
  opacity: 0;
  min-height: 100vh;
  width: 100%;
}
#projects {
  width: 100%;
  .carousel {
    height: 80%;
    .carousel-item {
      height: 95%;
      width: 70%;
    }
  }

  .modal {
    top: 8%;
    max-height: 80%;
    overflow-y: scroll;
    background-color: rgb(49, 49, 49);
    color: white;
    .modal-content {
      .modal-info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: left;
        img {
          width: 100%;
        }
        p {
          width: 90%;
        }
        h5 {
          font-size: 130%;
        }
        h5,
        ul > li {
          font-family: "Roboto", sans-serif;
          list-style-type: disc;
          text-align: left;
        }
      }
      .btn {
        margin: 1rem;
        width: 20%;
      }
    }
    .modal-footer {
      background-color: rgb(32, 32, 32);
      a {
        color: white;
      }
    }
  }
}

.contact {
  width: 100%;
  .contact-form {
    background-color: rgba(54, 54, 54, 0.521);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    height: 90%;
    width: 80%;
    .form {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      textarea {
        color: white;
      }
      input {
        color: white;
      }
    }
  }
}

@media only screen and (min-width: 740px) {
  .about .about-info .p-about p {
    font-size: 180%;
    line-height: 30px;
  }
  .about .about-info .skills div h3 {
    font-size: 180%;
  }
  .about .about-info .skills {
    a,
    ul > li {
      font-size: 150%;
      line-height: 25px;
    }
  }
  .contact .contact-form .form textarea {
    color: white;
  }
}

@media only screen and (min-width: 900px) {
  .about .about-info {
    width: 40%;
    align-self: flex-start;
    margin-left: 15%;
  }
  .about .about-info .p-about p {
    font-size: 130%;
    line-height: 30px;
  }
  .about .about-info .skills div h3 {
    font-size: 130%;
  }
  .about .about-info .skills {
    a,
    ul > li {
      font-size: 120%;
      line-height: 25px;
    }
  }
  .contact .contact-form {
    width: 35%;
    margin-right: 17%;
  }
  #projects {
    .carousel {
      .carousel-item {
        height: 95%;
        width: 50%;
      }
    }
  }
}
